/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; background: #2F2626; color: #eee; }

.nav-wrap { margin: 50px auto;  background-color: rgba(0,0,0,0.6); border-top: 2px solid white; border-bottom: 2px solid white; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */


#example-two {
	list-style: none;
	position: relative;
	width: 960px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}
#example-two li { display: inline; }
#example-two li a {
	position: relative;
	z-index: 200;
	color: #999999;
	font-size: 12px;
	display: block;
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	width: 130px;
	text-align: center;
}






#example-two li a:hover { color: white; }
#example-two #magic-line-two { position: absolute; top: 0; left: 0; width: 100px; background: rgba(220, 133, 5, 0.9); z-index: 100; }

.current_page_item_two a { color: white !important; }
