@charset "UTF-8";
#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.clearfix {
	overflow: hidden;
	height: 0px;
	clear: both;
}


body {
	margin: 0px;
	padding: 0px;
	overflow: scroll;
	background-image: url(../images/bg1.jpg); /* Background image */
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color: #0F2954;
	overflow:auto;
}

img {
	border: 0;
}



h2 {
	font-size: 22px;
	color: #333;
	margin: 40px 0 30px 0;
}


#logo {
	width: 162px;
	height: 100px;
	float: left;
	margin: 0;
	background-image: url(../images/brighthomeslogo.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#header_right {
	float: right;
	font-family: arial;
	width: 400px;
	background-image: url(../images/phrase.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 75px;
	padding-bottom: 15px;
}
#nav {
	margin: 0px;
	width: 100%;
	padding: 0px;
	clear: none;
}

#logo h2{
	text-indent: -10000px;
	
}

#header {
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 10px;
	float: right;
	width: 190px;
}
#topnav #arrow {
	float: left;
}
#topnav #text {
	float: right;
}
#maincontent {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #dce3b6;
}




.maincopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #595959;
	line-height: 20px;
}
#maincontent #leftcontent {
	width: 290px;
	padding-top: 45px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-image: url(../images/definingdif.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	float: left;
}

#maincontent #middlecontent {
	width: 189px;
	padding-top: 60px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 10px;
	background-image: url(../images/currentcomm.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	float: left;
}
#middlecontent img {
	padding-top: 3px;
}



#maincontent #rightcontent {
	width: 370px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 15px;
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top: 0px;
	float: right;
	height: 170px;
}
#rightselection {
	background-image: url(../images/featuredbts.png);
	height: 175px;
	width: 373px;
}
.clearbt1 {
	width: 113px;
	float: left;
	padding-top: 100px;
	padding-left: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.clearbt2 {
	width: 118px;
	float: left;
	padding-top: 100px;
	padding-left: 10px;
}
.clearbt3 {
	float: right;
	width: 110px;
	padding-top: 100px;
	padding-left: 10px;
}


#footer {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #004B8D;
	overflow: hidden;
	background-image: url(../images/footer.gif);
	height: 72px;
}

#footer a {
	color: #004B8D;
	text-decoration: none;
}
#footer a:hover {
	color: #004B8D;
}
#footer #copyright {
	padding-left: 787px;
	padding-top: 8px;
	padding-bottom: 8px;
}


#maincontentsec {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	background-image: url(../images/secpagebg.gif);
	background-repeat: repeat-y;
}
#leftcontent2 {
	width: 202px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333333;
}
.bold {
	font-weight: bold;
}
#rightsecholder {
	float: right;
	padding-top: 20px;
	padding-right: 35px;
	padding-bottom: 20px;
	padding-left: 30px;
	width: 671px;
}




#maincontenttest {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}


#maincontenttest #leftcontent {
	width: 290px;
	padding-top: 45px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-image: url(../images/definingdif.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	float: left;
}

#maincontenttest #middlecontent {
	width: 189px;
	padding-top: 60px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 10px;
	background-image: url(../images/currentcomm.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0px;
	float: left;
}
#middlecontenttest img {
	padding-top: 3px;
}



#maincontenttest #rightcontent {
	width: 360px;
	padding-top: 60px;
	padding-right: 25px;
	padding-bottom: 25px;
	background-image: url(../images/rightcol.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-top: 0px;
	float: right;
	height: 170px;
}
#moveinbt {
	padding-top: 10px;
}
#homestyles_container {
	width: 100%;
	padding-top: 20px;
}
#homestyles_col1 {
	float: left;
	width: 318px;
	padding-right: 35px;
}
#homestyles_col2 {
	float: right;
	width: 318px;
}
.homestyle_info {
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #595959;
	line-height: 20px;
}


.bold {
	font-weight: bold;
	color: #024073;
}
.dotted_short {
	height: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(../images/dotted_homestyles.png);
	background-repeat: no-repeat;
	background-position: center;
}
.bold_grey {
	font-weight: bold;
}
a:link {
	color: #024073;
	text-decoration: underline;
}
a:visited {
	color: #024073;
}
.homestyle_info .bold a {
	text-decoration: none;
}
