#logo {
	width: 0;
	height: 0;
	float: left;
	margin: 0;
	background-image: url(../images/brighthomeslogo_print.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#logoprint {
	width: 162px;
	height: 100px;
	float: left;
	margin: 0;
	visibility:visible;
}




#header_right {
	float: right;
	font-family: arial;
	width: 500px;
	background-image: none;
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 75px;
	padding-bottom: 15px;
}

#header_right_image {
	width: 500px;
	height: 75px;
	visibility:visible;
	padding-top: 40px;

}







body {
	margin: 0px;
	padding: 0px;
	overflow: scroll;
	background-image:none;
	background-color: #FFFFFF;
	overflow:auto;
}


#topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #102B54;
	padding-top: 10px;
	float: right;
	width: 190px;
}
