@charset "UTF-8";
#whatsnew {
	width: 175px;
	background-color: #f6f7e7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #573B1A;
}
#whatsnewtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 145px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #4B3717;
	padding-top: 3px;
	padding-bottom: 3px;
}
#whatsnewcopy {
	width: 145px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	vertical-align: text-top;
}
#whatsnewcopy a {
	color: #102B51;
	text-decoration: none;
	text-align: right;
}
#moveinsmbt {
	padding-top: 10px;
	padding-bottom: 15px;
}
#right_container {
	width: 100%;
	padding-top: 20px;
}
#rightcontainter_copy {
	padding-right: 25px;
	float: left;
	width: 400px;
}
#rightcontainer_sidebar {
	color: #595B50;
	background-color: #DCE3B6;
	float: right;
	width: 220px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	padding-bottom: 10px;
}
.header1 {
	font-size: 14px;
	font-weight: bold;
}
#moveinhomestitle {
	background-color: #8CA11D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	margin-bottom: 10px;
	margin-top: 10px;
}
.thirdlevel {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #285101;
	font-size: 15px;
	font-weight: bold;
}
#contactleft {
	width: 250px;
	float: left;
}
.bold2 {
	font-weight: bold;
	color: #285101;
}
.boldlarge {
	font-weight: bold;
	color: #0B244E;
	font-size: 16px;
}
#rightcontainer_sidebar img {
	padding-top: 10px;
}
.dottedrule {
	background-image: url(../images/dotted_long.png);
	height: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: center;
}
#map img {
	padding-top: 10px;
	padding-right: 15px;
	float: left;
	width: 380px;
	padding-bottom: 35px;
}
.homephoto {
	width: 318px;
	padding-top: 10px;
	padding-right: 25px;
	float: left;
}
.homecopy {
}



#navbar2 {
	font-size: 13px;
	line-height: 13px;
	font-family: Helvetica, Arial;
	text-align: center;
	padding-left: 230px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #285100;
  }
#headerimage {
	height: 32px;
	background-color: #285100;
	margin: 0px;
}
  #navbar2 li {
    display: inline;
	list-style-type: none;
  }
  #navbar2 li a {
	color: #cccc33;
	float: left;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 8px;
  }
  #navbar2 li a:hover,
  #navbar2 li.current_page_item a {
	color: #FFFFFF;
  }
    #navbar2 a.overview {
	width: 110px;
	
    }
    #navbar2 a.homestyles {
	width: 112px;
    }
    #navbar2 a.features {
	width: 160px;

    }
    #navbar2 a.contact {
	width: 200px;

    }
    #navbar2 a.new {
	width: 114px;

    }
    #navbar2 li a.overview:hover,
    #nav li.current_page_item a.overview {
      background: url(images/home_nav.png) no-repeat 50% 100%;
	  color: #FFFFFF;
    }
    #navbar2 li a.homestyles:hover,
    #navbar2 li.current_page_item a.homestyles {
      background: url(images/art_nav.png) no-repeat 50% 100%;
	  color: #FFFFFF;
    }
    #navbar2 li a.features:hover,
    #navbar2 li.current_page_item a.features {
      background: url(images/fashion_nav.png) no-repeat 50% 100%;
	  color: #FFFFFF;
    }
    #navbar2 li a.contact:hover,
    #navbar2 li.current_page_item a.contact {
      background: url(images/lifestyle_nav.png) no-repeat 50% 100%;
	  color: #FFFFFF;
    }
    #navbar2 li a.new:hover,
    #navbar2 li.current_page_item a.new {
      background: url(images/design_nav.png) no-repeat 50% 100%;
	  color: #FFFFFF;
    }


    #navbar2 a.history {
	width: 110px;
	
    }
    #navbar2 a.philosophy {
	width: 118px;
    }
    #navbar2 a.customerservice {
	width: 160px;

    }
    #navbar2 a.satisfaction {
	width: 140px;

    }
 
 
    #navbar2 a.newvsresale {
	width: 160px;
    }
    #navbar2 a.firsttime {
	width: 160px;

    }
    #navbar2 a.brightgreen {
	width: 120px;

    }
	
	#navbar2 a.customerserviceform {
	width: 200px;

    }
    #navbar2 a.documents {
	width: 120px;

    }
 
 	#navbar2 a.communitynews {
	width: 200px;

    }
    #navbar2 a.moveinready {
	width: 120px;

    }



.leftcopy {
	padding-left: 20px;
}

#leftcopy {
	padding-top: 20px;
}

#specialfeatures ul {
	color: #666666;
}

#specialfeatures ul a {
	color: #666666;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
.secondarylevel {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #295202;
	font-weight: bold;
}
#specialfeatures {
	float: left;
	width: 318px;
}
#featuredimage {
	float: right;
	padding-top: 20px;
}
#nav_third a {
	text-decoration: none;
}
#nav_third a:hover {
	color: #285100;
}

#nav_third a:visited {
	color: #024073;
}
#communitylogo {
	width: 240px;
	float: left;
	height: 100px;
	padding-top: 15px;
}
#communityinfo {
	padding-top: 15px;
}
