
.menu {
	position: relative;
	width: 1000px;
	height: 750px;
	overflow: hidden;
	clear:both;
	margin-left:-40px;
}

.menu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 750px;
	width: 2000px;
	
	}

.menu ul li {
	float: left;
}

.menu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 1px solid #999999;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:99px;
	height: 750px;
}

/*.menu ul li.about a {
  min-width:670px;
}
*/
.menu ul li.about a {
	background: url(../images/menu_about-bright.jpg) repeat scroll 0%;
}

.menu ul li.services a {
	background: url(../images/menu_services-bright.jpg) repeat scroll 0%;
}
.menu ul li.ourwork a {
	background: url(../images/menu_ourwork-bright.jpg) repeat scroll 0%;
}

.menu ul li.news a {
	background: url(../images/menu_news-bright.jpg) repeat scroll 0%;
}

.menu ul li.about a.dark {
	background: url(../images/menu_about-dark.jpg) repeat scroll 0%;
}

.menu ul li.services a.dark {
	background: url(../images/menu_services-dark.jpg) repeat scroll 0%;
}
.menu ul li.ourwork a.dark {
	background: url(../images/menu_ourwork-dark.jpg) repeat scroll 0%;
}
.menu ul li.news a.dark {
	background: url(../images/menu_news-dark.jpg) repeat scroll 0%;
}

.clear {
	clear: both;
}
